receivers:
  otlp:
    protocols:
      grpc:
      http:
        endpoint: "0.0.0.0:4318"

exporters:
  debug:
    verbosity: detailed

  otlphttp/grafanacloud:
    endpoint: ${env:OTEL_EXPORTER_OTLP_ENDPOINT}
    headers: 
      authorization: ${env:OTEL_EXPORTER_OTLP_HEADERS}

processors:
  batch:
  memory_limiter:
    check_interval: 1s
    limit_percentage: 80
    spike_limit_percentage: 15

extensions:
  health_check:
  pprof:
    endpoint: 0.0.0.0:1888
  zpages:
    endpoint: 0.0.0.0:55679

service:
  extensions: [pprof, zpages, health_check]
  pipelines:
    traces:
      receivers: [otlp]
      processors: [batch, memory_limiter]
      exporters: [otlphttp/grafanacloud, debug]
    metrics:
      receivers: [otlp]
      processors: [batch, memory_limiter]
      exporters: [otlphttp/grafanacloud, debug]
    logs:
      receivers: [otlp]
      processors: [batch, memory_limiter]
      exporters: [otlphttp/grafanacloud, debug]