receivers:
  otlp:
    protocols:
      grpc:
      http:

exporters:
  debug:
    verbosity: detailed

  otlp/grafanacloud:
    endpoint: ${env:OTEL_EXPORTER_OTLP_ENDPOINT}
    headers: ${env:OTEL_EXPORTER_OTLP_HEADERS}

processors:
  batch:
  memory_limiter:
    check_interval: 1s
    limit_percentage: 80
    spike_limit_percentage: 15

extensions:
  health_check:
  pprof:
    endpoint: :1888
  zpages:
    endpoint: :55679

service:
  extensions: [pprof, zpages, health_check]
  pipelines:
    traces:
      receivers: [otlp]
      processors: [batch, memory_limiter]
      exporters: [otlp/grafanacloud, debug]
    metrics:
      receivers: [otlp]
      processors: [batch, memory_limiter]
      exporters: [otlp/grafanacloud, debug]
    logs:
      receivers: [otlp]
      processors: [batch, memory_limiter]
      exporters: [otlp/grafanacloud, debug]