receivers:
  otlp:
    protocols:
      grpc:
      http:
        endpoint: "0.0.0.0:4318"

exporters:
  debug:
    verbosity: basic

  otlphttp/grafana_cloud:
    # https://github.com/open-telemetry/opentelemetry-collector/tree/main/exporter/otlphttpexporter
    endpoint: "${env:GRAFANA_CLOUD_OTLP_ENDPOINT}"
    auth:
      authenticator: basicauth/grafana_cloud

processors:
  batch:
  memory_limiter:
    check_interval: 1s
    limit_percentage: 80
    spike_limit_percentage: 15
  tail_sampling:
    decision_wait: 10s
    num_traces: 10000
    policies:
      - name: sample_10_percent
        type: probabilistic
        probabilistic:
          sampling_percentage: 10

extensions:
  health_check:
  pprof:
    endpoint: 0.0.0.0:1888
  zpages:
    endpoint: 0.0.0.0:55679
  basicauth/grafana_cloud:
    # https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/extension/basicauthextension
    client_auth:
      username: "${env:GRAFANA_CLOUD_INSTANCE_ID}"
      password: "${env:GRAFANA_CLOUD_API_KEY}"

service:
  extensions: [pprof, zpages, health_check, basicauth/grafana_cloud]
  telemetry:
    logs:
      level: "INFO"
      output_paths: ["stdout"]
      error_output_paths: ["stderr"]
  pipelines:
    traces:
      receivers: [otlp]
      processors: [tail_sampling, batch, memory_limiter]
      exporters: [otlphttp/grafana_cloud]
    metrics:
      receivers: [otlp]
      processors: [batch, memory_limiter]
      exporters: [otlphttp/grafana_cloud]
    logs:
      receivers: [otlp]
      processors: [batch, memory_limiter]
      exporters: [otlphttp/grafana_cloud]